h2 {
    font-size: 65px;
    margin-bottom: 5rem;
}
.vertical-timeline-element--work {
    border-radius: 55px;
}
@media screen and (max-width: 480px) {
    h2 {
        font-size: 35px;
        margin-bottom: 2rem;
    }
}