footer {
  width: 100%;
  background: linear-gradient(69deg, #8686C1 0%, #2B378B 100%);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  font-size: 13px;
  line-height: 20px;
  margin-top: 3rem;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
}

.footer-icon {
  width: 80px;
  margin-bottom: 30px;
}

 a {
  color: #fff;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.app-links {
  display: flex;
  gap: 2rem;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.social-links {
  display: flex;
  gap: 1rem;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.social-icon {
  font-size: 50px;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

@media (max-width: 700px){
  footer{
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }
  
  .col:nth-child(2), .col:nth-child(3){
    flex-basis: 100%;
  }
}